.posts-page {
	a {
		text-decoration: none;
	}
	.post {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
		.text {
			text-align: left;
		}
		img {
			margin-left: 1rem;
			max-height: 15rem;
		}
	}
}

.post-page {
	img {
		display: block;
		margin: auto;
		max-width: 55rem;
	}
}
