div.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		height: 75px;
		padding-right: 1rem;
		padding-top: 0.75rem;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		li {
			display: inline;
			margin-right: 0.5rem;
			font-size: 1.25rem;
			a.active {
				font-weight: 600;
			}
		}
	}
}
